@import "tailwindcss";

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/fonnts.com-Aeonik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/fonnts.com-Aeonik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #f8f8f8;
  --foreground: #1c1c2b;
  --primary: #1c1c2b;
  --secondary: #1c1c2b;
  --tertiary: #7b7b7b;
  --light-text: #e6e6f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-light-text: var(--light-text);
  --font-sans: "Aeonik", sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #ededed;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hide scrollbar for mobile carousel */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Aeonik", sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}
